

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;
    padding: 0; border: 0; font-size: 100%; font: inherit;  }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

q { quotes: none; }
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

*, *::before, *::after { box-sizing: border-box; }

html { width: 100%; height: 100%; font-size: 100%; overflow-x: hidden; -ms-touch-action: manipulation; touch-action: manipulation; }

body { font-size: 16px; font-family: 'Lato', sans-serif; font-weight: 400; margin: 0; word-wrap: break-word; line-height: 1;
    line-height: 1.3; width: 100%; overflow-x: hidden; box-sizing: border-box; white-space: normal;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #222;  }

h1, h2, h3, h4, h5, h6, p, a{ margin: 0; padding: 0; line-height: inherit; font-weight: inherit; }


.sidebar ul,
.pagination{ margin: 0; padding: 0; }

.pagination li{ display: inline-block; }


h1, h2, h3, h4, h5, h6{ font-family: 'Source Sans Pro', sans-serif; line-height: 1.2; font-weight: 400; word-wrap: break-word; }

h3, h4, h5, h6{ line-height: 1.5; }



h1 { font-size: 4.5em; }
h2 {font-size: 2.5em; }
h3 {font-size: 1.8em; }
h4 {font-size: 1.4em; }
h5 { font-size: 1.1em; }
h6 { font-size: .9em; letter-spacing: 1px; }

p{ font-size: 1em; line-height: 1.6; }

p{ color: #555; }

a{ display: inline-block; cursor: pointer; color: inherit; outline: 0; text-decoration: none;
    -webkit-transition: all .25s ease; transition: all .25s ease; }

button{ cursor: pointer; color: inherit; outline: 0; border: 0; box-shadow: none; background: none;
    -webkit-transition: all .25s ease; transition: all .25s ease; }

input, textarea{ display: inline-block; color: inherit; max-width: 100%; -webkit-transition: all .2s; transition: all .2s; }

a:hover, a:focus, a:active,
button:hover, button:focus, button:active{ outline: 0; text-decoration: none; color: inherit; }

textarea,
select,
input{ outline: 0; width: 100%; border: 1px solid #eee; padding: 0 15px; }

select{ margin: 15px 0; }

input:active,
textarea:active,
input:focus,
textarea:focus{ box-shadow: none; outline: 0; border: 1px solid #3F4D66!important; }

strong{ font-weight: 700; }
em{ font-style: italic; }


ul > li i{ margin-right: 0px; }

i{ font-size: 1.2em; }

img { height: auto; width: 100%; }

b { font-weight: 600; }

i { display: inline-block; }

b.max-bold{ font-weight: 700; }


span{ display: inline-block; }


/* RESPONSIVE */

@media only screen and (max-width: 992px) {

    h1 { font-size: 4.5em; }
    h2 {font-size: 2.8em; }

}

@media only screen and (max-width: 767px) {

    body { font-size: 14px; }

    h1 { font-size: 4em; }
    h2 {font-size: 2.5em; }

}

@media only screen and (max-width: 576px) {
    h1 { font-size: 3em; }
    h2 {font-size: 2em; }
    h3 {font-size: 1.5em; }
    h4 {font-size: 1.2em; }
    h5 { font-size: 1.1em; }

}


::-webkit-input-placeholder { color: #aaa; }
::-moz-placeholder { color: #aaa; }
:-ms-input-placeholder { color: #aaa; }
:-moz-placeholder { color: #aaa; }

button, input, select, textarea{ font-size: .9em; }






.table-ptb-10 tr td{ padding-top: 10px!important; padding-bottom: 10px!important; }

.chart-wrapper{ min-width: 700px!important; }


/*WHYWIG EDITOR*/


.trumbowyg-editor strong{ font-weight: 800; }

.trumbowyg-editor,
.trumbowyg-textarea{ min-height: 200px!important; }


.trumbowyg-button-pane{ border-bottom: 0px!important; padding: 0!important; }


/*RESPONSIVE*/

@media only screen and (max-width: 576px) {

    .trumbowyg-editor,
    .trumbowyg-textarea{ padding: 15px!important; }

}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

ul.errors{ margin: 0; padding: 0; margin-bottom: 15px; }

body{ background: #f5f6fa; height: 100%; }


/*TOOLBAR*/

.header{ height: 80px; position: fixed; left: 0; right: 0; overflow: hidden; background: #F5F6FA;
    z-index: 1000000; }

.header .toolbar-left{ width: 250px; float: left; padding-left: 20px; background: #3F4D66;
    border-right: 1px solid rgba(0,0,0, .1); border-bottom: 1px solid rgba(0,0,0, .1); height: 80px; }


.header .toolbar-right{ border-bottom: 1px solid #ddd; height: 80px; }

.header .toolbar-right a{ line-height: 80px; padding: 0 15px; }

.header .toolbar-right a:first-child{ padding-left: 30px; }

.header .toolbar-left .site-logo{ padding: 0px 0; height: 80px; width: auto; float: left; margin-right: 20px; }

.header .toolbar-left .site-title{ line-height: 80px; color: #fff; }



/*MAIN CONTENT*/

.main-container{ position: relative; min-height: calc(100vh - 80px); margin-top: 80px; }



/*SIDEBAR*/

.sidebar{ width: 250px; background: #3F4D66; color: #fff; padding-top: 30px; padding-bottom: 100px;
    position: fixed; top: 80px; left: 0; height: 100vh; overflow: auto; }

.sidebar .sidebar-list > li { display: block; }

.sidebar .sidebar-list > li > a{ display: block; padding: 12px 20px; transition: all .0s; }

.sidebar .sidebar-list > li > a > i{ margin-right: 20px; font-size: 1.2em; color: #fff; }

.sidebar .sidebar-list > li > a { position: relative; border-bottom: 1px solid #3E4E67;
    border-top: 1px solid #3F4D66; transition: all .2s; -webkit-transition: all .2s;}

.sidebar .sidebar-list > li > a:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; width: 4px;
    background: #FEAA0A; transition: all .2s; -webkit-transition: all .2s;
    transform: scaleX(0); -webkit-transform: scaleX(0); transition: all .2s; -webkit-transition: all .2s; }

.sidebar .sidebar-list > li > a:before{ content:''; position: absolute; top: 0; bottom: 0; right: 0px; width: 4px;
    background: #FEAA0A; transform: scaleX(0); -webkit-transform: scaleX(0);
    transition: all .2s; -webkit-transition: all .2s; }

.sidebar .sidebar-list > li:active > a,
.sidebar .sidebar-list > li:focus > a,
.sidebar .sidebar-list > li:hover > a,
.sidebar .sidebar-list > li.active > a { border-bottom: 1px solid #3F4D66; border-top: 1px solid #3F4D66; background-color: #364258; }

.sidebar .sidebar-list > li:focus > a:before,
.sidebar .sidebar-list > li:active > a:before,
.sidebar .sidebar-list > li:hover > a:before,
.sidebar .sidebar-list > li.active > a:before,
.sidebar .sidebar-list > li:focus > a:after,
.sidebar .sidebar-list > li:active > a:after,
.sidebar .sidebar-list > li:hover > a:after,
.sidebar .sidebar-list > li.active > a:after{ transform: scaleX(1); -webkit-transform: scaleX(1); }



/*MAIN CONTENT*/

.main-content{ position: relative; padding: 50px 30px; margin-left: 250px; }



/*TOGGLE SIDEBAR BUTTON*/

.toggle-sidebar{ position: absolute; top: 0; bottom: 0; left: 0; width: 55px; display: none; }

.toggle-sidebar i{ font-size: 30px; line-height: 55px; }



/*TOGGLE SIDEBAR SETTING*/

.toggle-sidebar.toggle-setting{ right: 0; left: auto; }



/*TRANSPARENT LAYER*/

.tp-layer{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background: #000; opacity: .5; display: none; }

.tp-layer.active{ display: block; animation: tp-layer-anim .15s forwards ease-in; }

@keyframes tp-layer-anim {
    0% { opacity: 0; }
    100% { opacity: .5; }
}


@keyframes sidebar-anim {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0); }
}


/*RESPONSIVE*/

@media only screen and (max-width: 1300px) {



}

@media only screen and (max-width: 992px) {

    .main-content{ padding: 15px; margin-left: 65px; }

    .header{ height: 65px; }

    .header .toolbar-left .site-title{ display: none; }


    .header .toolbar-left{ width: 65px; padding-left: 0; text-align: center; }

    .header .toolbar-left .site-logo{ margin: 0px auto; float: none; padding: 10px; height: 65px; width: 65px;
        display: inline-block; }

    .header .toolbar-right a{ line-height: 65px; }

    .sidebar{ top: 65px; width: 65px; padding-top: 0; }

    .sidebar .sidebar-list > li > a{ border-bottom: 1px solid #303b4e; padding: 0; height: 65px; width: 65px;
        line-height: 65px; text-align: center; }

    .sidebar .sidebar-list > li > a span{ display: none; }

    .sidebar .sidebar-list > li > a > i{ margin-right: 0px; font-size: 1.4em; }
}

@media only screen and (max-width: 767px) {


}

@media only screen and (max-width: 576px) {

    .main-container{ min-height: calc(100vh - 55px); margin-top: 55px; }

    .main-content{ margin-left: 0px; }

    .header{ height: 55px; text-align: center; overflow: visible; border-bottom: 1px solid #303b4e; background: #3F4D66; color: #fff; }

    .header .toolbar-left{ float: none; width: auto; height: 55px; border: 0; }

    .header .toolbar-left .site-logo{ height: 100%; width: auto; padding: 0; }



    .sidebar{ width: 250px; z-index: 10000; top: 55px; padding-bottom: 55px;
        transform: translateX(-100%); transition: all .2s ease-out; }

    .sidebar.active{ transform: translateX(0%); }

    .sidebar .sidebar-list > li > a{ height: 55px; width: 100%; line-height: 55px; text-align: left; }
    .sidebar .sidebar-list > li > a span{ display: inline-block; }

    .sidebar .sidebar-list > li > a > i{ margin: 0 15px 0 20px; }


    .header .toolbar-right{ float: none; position: absolute; right: 14px; top: 55px; bottom: 0; width: 130px; background: #3F4D66;
        height: 100px; border-radius: 0 0 4px 4px; box-shadow: 0px 10px 30px rgba(0,0,0, .1); display: none; z-index: 10000; }

    .header .toolbar-right.active{ display: block; }

    .header .toolbar-right a:first-child{ border-bottom: 1px solid #303b4e; padding: 0; }
    .header .toolbar-right a{ line-height: 50px; display: block; padding: 0 20px; }

    .header .toolbar-right a:hover{ background: #f5f6f7; }

    /*TOGGLE SIDEBAR BUTTON*/

    .toggle-sidebar{ display: block; }

}



/*COMMONS*/

.m-0{ margin: 0!important; }
.m-10{ margin: 10px!important; }
.m-20{ margin: 20px!important; }
.m-25{ margin: 25px!important; }
.m-30{ margin: 30px!important; }

.mt-0{ margin-top: 0px!important; }
.mt-5{ margin-top: 5px!important; }
.mt-10{ margin-top: 10px!important; }
.mt-15{ margin-top: 15px!important; }
.mt-20{ margin-top: 20px!important; }
.mt-30{ margin-top: 30px!important; }
.mt-40{ margin-top: 40px!important; }
.mt-50{ margin-top: 50px!important; }

.mt--100{ margin-top: -100px!important; }

.mb-0{ margin-bottom: 0px!important; }
.mb-5{ margin-bottom: 5px!important; }
.mb-10{ margin-bottom: 10px!important; }
.mb-15{ margin-bottom: 15px!important; }
.mb-20{ margin-bottom: 20px!important; }
.mb-25{ margin-bottom: 25px!important; }
.mb-30{ margin-bottom: 30px!important; }
.mb-50{ margin-bottom: 50px!important; }
.mb-70{ margin-bottom: 70px!important; }
.mb-80{ margin-bottom: 80px!important; }
.mb-90{ margin-bottom: 90px!important; }
.mb-100{ margin-bottom: 100px!important; }

.ml-5{ margin-left: 5px!important; }
.ml--7-5{ margin-left: -7.5px!important; }
.ml-10{ margin-left: 10px!important; }
.ml-15{ margin-left: 15px!important; }
.ml-20{ margin-left: 20px!important; }
.ml-25{ margin-left: 25px!important; }
.ml-30{ margin-left: 30px!important; }

.mr-5{ margin-right: 5px!important; }
.mr--7-5{ margin-right: -7.5px!important; }
.mr-7{ margin-right: 7px!important; }
.mr-10{ margin-right: 10px!important; }
.mr-15{ margin-right: 15px!important; }
.mr-60{ margin-right: 60px!important; }

.mtb-5{ margin-top: 5px!important; margin-bottom: 5px!important; }
.mtb-10{ margin-top: 10px!important; margin-bottom: 10px!important; }
.mtb-15{ margin-top: 15px!important; margin-bottom: 15px!important; }
.mtb-20{ margin-top: 20px!important; margin-bottom: 20px!important; }
.mtb-25{ margin-top: 25px!important; margin-bottom: 25px!important; }
.mtb-30{ margin-top: 30px!important; margin-bottom: 30px!important; }

.mlr-auto{ margin-left: auto; margin-right: auto; }

.p-10{ padding: 10px!important; }
.p-15{ padding: 15px!important; }
.p-20{ padding: 20px!important; }
.p-25{ padding: 25px!important; }
.p-30{ padding: 30px!important; }
.p-35{ padding: 35px!important; }
.p-40{ padding: 40px!important; }

.ptb-15{ padding-top: 15px!important; padding-bottom: 15px!important; }

.plr-7-5{ padding-left: 7.5px!important; padding-right: 7.5px!important; }
.plr-0{ padding-left: 0px!important; padding-right: 0px!important; }
.plr-15{ padding-left: 15px!important; padding-right: 15px!important; }
.plr-10{ padding-left: 10px!important; padding-right: 10px!important; }
.plr-15{ padding-left: 15px!important; padding-right: 15px!important; }
.plr-20{ padding-left: 20px!important; padding-right: 20px!important; }
.plr-25{ padding-left: 25px!important; padding-right: 25px!important; }
.plr-30{ padding-left: 30px!important; padding-right: 30px!important; }
.plr-35{ padding-left: 35px!important; padding-right: 35px!important; }

.p-0{ padding: 0px!important; }

.pt-10{ padding-top: 10px!important; }

.pb-100{ padding-bottom: 100px!important; }
.pb-10{ padding-bottom: 10px!important; }
.pb-15{ padding-bottom: 15px!important; }

.pl-7-5{ padding-left: 7.5px!important; }
.pl-15{ padding-left: 15px!important; }

.pr-7-5{ padding-right: 7.5px!important; }
.pr-7-5{ padding-right: 7.5px!important; }
.pr-15{ padding-right: 15px!important; }
.pr-60{ padding-right: 40px!important; }




.ptb-15{ padding-top: 15px!important; padding-bottom: 15px!important; }
.ptb-20{ padding-top: 20px!important; padding-bottom: 20px!important; }
.ptb-25{ padding-top: 25px!important; padding-bottom: 25px!important; }
.ptb-30{ padding-top: 30px!important; padding-bottom: 30px!important; }



/*RESPONSIVE*/

@media only screen and (max-width: 1350px) {

    .pl-xxl-0{ padding-left: 0!important; }

}

@media only screen and (max-width: 576px) {

    .pl-xs-5{ padding-left: 5px!important; }
    .pr-xs-5{ padding-right: 5px!important; }
    .plr-xs-5{ padding-left: 5px!important; padding-right: 5px!important; }

}


.w-10{ width: 10%; }
.w-15{ width: 15%; }
.w-20{ width: 20%; }
.w-25{ width: 25%; }
.w-30{ width: 30%; }
.w-40{ width: 40%; }
.w-50{ width: 50%; }
.w-60{ width: 60%; }
.w-70{ width: 70%; }
.w-80{ width: 80%; }
.w-90{ width: 90%; }
.w-100{ width: 100%!important; }

.h-100{ height: 100%; }

.w-50x{ width: 50px; }
.w-80x{ width: 80px; }
.w-120x{ width: 120px; }
.w-150x{ width: 150px; }
.w-200x{ width: 200px; }

.w--250x{ width: calc( 100% - 250px )!important; }

.mx-w-1000x{max-width: 1000px;  }

/*RESPONSIVE*/

@media only screen and (max-width: 1350px) {

    .w-xl-100{ width: 100%!important; }

}


.lh-inherit{line-height: inherit; }
.lh-40{line-height: 40px; }
.lh-45{line-height: 45px; }

.oflow-hidden{ overflow: hidden; }

.oflow-visible{ overflow: visible!important; }

.oflow-auto{ overflow: auto!important; }

.float-l{ float: left!important; }
.float-r{ float: right!important; }


.c-btn{ height: 45px; line-height: 45px; padding: 0 35px; border-radius: 5px; border: 1px solid #3F4D66;
    background: #3F4D66; color: #fff; letter-spacing: 1px;
    -webkit-transition: all .1s ease; transition: all .2s ease; }

.attr-btn{ height: 40px; line-height: 38px; padding: 0 30px; }


.c-btn:focus,
.c-btn:active,
.c-btn:hover{ background: none; color: #3F4D66; }

.c-btn.delete{ border: 1px solid #d9534f;  background: #d9534f; }


.c-btn.delete:focus,
.c-btn.delete:active,
.c-btn.delete:hover{ background: none; color: #d9534f; }

.c-btn.btn-tag{ height: 30px; line-height: 30px; padding: 0 20px; border-radius: 3px; font-size: .95em; border-radius: 100px;
    border: 1px solid #ccc; color: #222; background: #ddd; }


.c-btn.btn-tag:focus,
.c-btn.btn-tag:active,
.c-btn.btn-tag:hover{ background: none; }

.c-btn.btn-featured{ border: 1px solid #00b797; background: #00b797; color: #fff; }


.c-btn.btn-featured:focus,
.c-btn.btn-featured:active,
.c-btn.btn-featured:hover{ background: none; color: #00b797; }

.color-semi-dark{ color: #777; }

.bg-white{ background: #fff; border: 1px solid #eee; }

.bg-primary{ background: #3F4D66; }

.center-text{ text-align: center!important; }

.dplay-block{ display: block; }

.dplay-inl-b{ display: inline-block; }

.dplay-tbl{ display: table; height: 100%; width: 100%; }

.dplay-tbl-cell{ display: table-cell; vertical-align: middle; width: 100%;  }



.pagination{ margin-top: 30px; }

.disabled{ opacity: .8; cursor: not-allowed!important; background: #d9534f!important; color: #fff!important; border-color: #d9534f!important; }



.tbl-wrapper{ min-width: 500px; overflow: auto; }



.btn-wrapper{ text-align: right; clear: both; }

.float-r{ float: right; }

.circle-img-50{ height: 50px; width: 50px; border-radius: 100px; overflow: hidden; }
.circle-img-60{ height: 60px; width: 60px; border-radius: 100px; overflow: hidden; }
.circle-img-70{ height: 70px; width: 70px; border-radius: 100px; overflow: hidden; }
.circle-img-80{ height: 80px; width: 80px; border-radius: 100px; overflow: hidden; }
.circle-img-90{ height: 90px; width: 90px; border-radius: 100px; overflow: hidden; }


.min-h-50{ min-height: 50px; }
.min-h-60{ min-height: 60px; }
.min-h-70{ min-height: 70px; }
.min-h-80{ min-height: 80px; }
.min-h-90{ min-height: 90px; }

.max-h-200x{ max-height: 200px!important; }

.min-w-300x{ min-width: 300px!important; }
.min-w-400x{ min-width: 400px!important; }
.min-w-500x{ min-width: 500px!important; }
.min-w-600x{ min-width: 600px!important; }
.min-w-700x{ min-width: 700px!important; }
.min-w-800x{ min-width: 800px!important; }
.min-w-1200x{ min-width: 1200px!important; }
.min-w-1300x{ min-width: 1300px!important; }
.min-w-1400x{ min-width: 1400px!important; }



.brdr-ash-1{ border: 1px solid #eee; }
.brdr-primary-1{ border: 1px solid #2196f3; }


.link{ text-decoration: underline; }

.link:active,
.link:focus,
.link:hover{ text-decoration: none; }


.right-text{text-align: right; }

.font-8{ font-size: .8em; }





/*TABLE*/

.tbl-wrapper{ margin-bottom: 30px; background: #fff; border-radius: 5px; padding: 0 15px; }

.tbl-wrapper .title{ padding: 25px 10px; }

.max-w-70x{ max-width: 70px; }
.max-w-150x{ max-width: 150px; }

.max-w-120{ max-width: 120px; }

table{ width: 100%; min-width: 1000px; }


table thead{ background: #eee; }

table th,
table td{ padding: 15px 15px; text-align: left; margin-bottom: 15px; }

table th{ padding-top: 20px; padding-bottom: 20px; }

table tr{ border-bottom: 1px solid #eee; }

table tr.seen{ background: rgba(0,0,0,.05); }

table td.preview{ width: 150px; }




table td.action a{ padding: 10px 10px; }


.main-image{ max-width: 200px; max-height: 200px; height: auto; width: auto; }


.status,
.breaking{ margin-left: 15px; height: 12px; width: 12px; border-radius: 100px; background: #000; }

.status.ok,
.status.active,
.breaking.active{ background: #0F9D58; }


.status.not-ok{ background: red; }



/*ORDER DETAIL*/


.sub-heading{ font-size: .7em; }


.order-detail{ max-width: 900px; margin: 0 auto; text-align: left; }

.order-detail .invoice{ padding: 70px 50px;  background: #fff; }

.order-detail .invoice-heading{ overflow: hidden; }

.order-detail .company-info{ overflow: hidden; }

.invoice-heading .logo{ width: 40px; height: 40px; position: absolute; top: 0; left: 0; }

.invoice-heading .company-detail{ padding-left: 55px; }

.invoice-heading .left-area{ position: relative; float: left; margin-left: 15px; max-width: 300px; }

.invoice-heading .right-area{ float: right; max-width: 300px; }

.invoice-heading .user-info{ margin-bottom: 50px; }


.order-detail .ordered-products{ margin-top: 50px; }

.order-detail .ordered-products thead{ background: #F4F5F6; }

.order-detail .ordered-products tbody tr{ border-bottom: 1px solid #F2F3F4; }

.order-detail .ordered-products table{ width: 100%; }

.order-detail .ordered-products td,
.order-detail .ordered-products th{ text-align: center; padding: 20px 15px; }

.order-detail .ordered-products td:first-child,
.order-detail .ordered-products th:first-child{ text-align: left; }

.order-detail .ordered-products td:last-child,
.order-detail .ordered-products th:last-child{ text-align: right; }

.order-detail .ordered-products th{ font-weight: 700; }

.invoice-footer{ overflow: hidden; }

.invoice-footer .total-amount{ float: right; padding: 30px 15px; text-align: right; }

.invoice-footer .total-amount .sub-total{ border-bottom: 1px solid #ddd; }



.profile-page{ max-width: 950px; margin-left: auto!important;; margin-right: auto!important; }


/*RESPONSIVE*/

@media only screen and (max-width: 1300px) {



}

@media only screen and (max-width: 992px) {



}

@media only screen and (max-width: 767px) {


}

@media only screen and (max-width: 576px) {

    .mb-xs-0{ margin-bottom: 0px; }
    .mb-xs-15{ margin-bottom: 15px; }

}


/*prev-price*/

.prev-price{ position: relative; padding: 0 2px; margin: 0 5px;  }

.prev-price:after{ content: ''; margin-top: 0px; position: absolute; top: 50%; left: 0; right: 0; height: 1px; background: #777; }



/* FORM */

.succss-msg{ margin-bottom: 30px; }

.form-wrapper{ max-width: 670px; margin: 0 auto; overflow: hidden; }

.form-inner{ padding: 40px 40px 30px; }


.search-wrapper input,
.item-wrapper select,
.item-wrapper textarea,
.item-wrapper input{ height: 43px; line-height: 43px; border: 1px solid #ddd; border-radius: 4px; margin-bottom: 20px; }

.item-wrapper select{ border-color: #3F4D66; }

.item-wrapper textarea{ height: 130px; line-height: 1.2; }


.item-wrapper .table-img{ max-height: 50px; max-width: 50px; }

.notify-link,
.lyrics-link,
.item-wrapper .edit-link,
.item-wrapper .delete-link{ padding: 2px 10px 3px; margin-right: 5px; border: 1px solid #aaa;
    border-radius: 50px; margin-bottom: 5px; }


.search-wrapper{ width: calc( 100% - 200px ); position: relative; }

.search-wrapper input { padding-left: 20px; height: 55px; line-height: 55px; }

.search-wrapper input:focus + button{ border: 1px solid #3F4D66; }

.search-wrapper button{ border: 1px solid #ddd; position: absolute; top: 0; right: 0; height: 55px;
    padding: 0 25px; border-radius: 0 2px 2px 0; }

.search-wrapper button:hover{ color: #fff; background: #3F4D66; border-radius: 0 3px 3px 0; }


.item-wrapper textarea{ line-height: 1.4; padding: 15px; }


.item-wrapper input[type="checkbox"]{ height: auto; line-height: normal; margin: 0; width: auto; }

.item-wrapper textarea.desc{ height: 100px; min-height: 100px; max-height: 100px; }

.item-wrapper select:active,
.item-wrapper select:focus,
.item-wrapper textarea:active,
.item-wrapper textarea:focus,
.item-wrapper input:active,
.item-wrapper input:focus{ border-color: #3F4D66; }


.item-wrapper form  label{ font-size: .9em; color: #888; margin-bottom: 15px; margin-top: 5px; display: inline-block; }

.item-wrapper form  img{ margin-bottom: 20px; width: auto; height: auto; max-height: 400px; width: auto; border-radius: 5px;
    overflow: hidden }

form .item-wrapper .help-block{ font-size: .9em; margin-bottom: 20px; }

.input-6{ width: 50%; float: left; }
.input-4{ width: 33.33%; float: left; }

.error{ color: #b14442; }



/*RESPONSIVE*/

@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 992px) {



}

@media only screen and (max-width: 767px) {

    .search-wrapper{ width : calc( 100% - 170px ); }

    .sort-wrapper textarea, select, input{ padding: 0 5px; }


}

@media only screen and (max-width: 576px) {

    .search-wrapper{ width : calc( 100% - 135px ); }

    .search-wrapper button,
    .search-wrapper input{ height: 50px; line-height: 50px; margin-bottom: 10px; }

    .sort-wrapper .float-l,
    .sort-wrapper .float-r{ float: none; width: 100%; }

    .sort-wrapper .float-l{ float: none; width: 100%; margin-bottom: 10px; }

}


@media only screen and (max-width: 400px) {

    .search-wrapper{ float: none!important; width: 100%; }

    .search-wrapper ~ .float-r{ float: none!important; width: 100%; margin-bottom: 10px; }

    .search-wrapper ~ .float-r .c-btn{ display: block; text-align: center; }

}



/*AJAX SIDEBAR*/

.ajax-sidebar{ width: 300px; position: absolute; top: 0; bottom: 0; left: 0; background: #F7F9F9; }



.ajax-sidebar li,
.ajax-sidebar{ margin: 0;; padding: 0; }

.ajax-sidebar li{ list-style: none; }

.ajax-sidebar li.head{ padding: 0px 30px; line-height: 60px; font-size: 1.2em; border-bottom: 1px solid #eee; }

.ajax-sidebar li > a{ padding: 15px 30px; display: block; position: relative; border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0); }

.ajax-sidebar li > a:after{ content: ''; position: absolute; right: -1px; top: 0; bottom: 0; width: 1px; background: #fff;  opacity: 0; }

.ajax-sidebar li > a.active{ background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }

.ajax-sidebar li:nth-child(2) a.active{ border-top: 1px solid rgba(0,0,0,0); }

.ajax-sidebar li > a.active:after{ opacity: 1; }



.ajax-form-wrapper{ margin-left: 300px; border-left: 1px solid #eee; min-height: 450px; position: relative; }

.ajax-form-wrapper .item-content{ padding: 25px; }

.ajax-form-wrapper .item-content.active{ display: block; }

.ajax-form-wrapper form textarea,
.ajax-form-wrapper form select,
.ajax-form-wrapper form input:not([type="file"]){ height: 45px; line-height: 45px; border-radius: 4px; margin: 10px 0 20px;  }

.ajax-form-wrapper form textarea{ height: 170px; line-height: 1.6; padding: 15px; }

.ajax-form-wrapper form label{ color: #555; font-size: .9em; display: inline-block; }

.ajax-form-wrapper .head{ overflow: hidden; position: relative; padding: 0 30px; display: block;
    border-bottom: 1px solid #eee; background: #F7F9F9; }

.ajax-form-wrapper .head .dropdown-icon{ display: none; position: absolute; right: 0; top: 0; bottom: 0; width: 55px;
    line-height: 65px; text-align: center; }

.ajax-form-wrapper .head .dropdown-icon i{ font-size: 1.4em; }

.ajax-form-wrapper .head .title{ line-height: 60px; float: left; }

.ajax-form-wrapper .head .toggle-btn{ float: right; line-height: 32px; height: 32px; margin-top: 13px; }

.ajax-form-wrapper .head .toggle-btn .switch.status{ margin: 0px; }



/*RESPONSIVE*/

@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 992px) {


    /*AJAX SIDEBAR*/

    .ajax-sidebar{ width: 250px; }

    .ajax-form-wrapper{ margin-left: 250px; }


}

@media only screen and (max-width: 767px) {

    /*AJAX SIDEBAR*/

    .ajax-sidebar{ width: 200px; }

    .ajax-form-wrapper{ margin-left: 200px; }

}

@media only screen and (max-width: 576px) {

    .ajax-form-wrapper form label{ color: #333; font-size: .85em;  }

    .ajax-form-wrapper .head .dropdown-icon{ display: block; }

    .ajax-sidebar li.head{ display: none; }

    .ajax-form-wrapper{ margin-left: 0; }

    .ajax-sidebar{ bottom: auto; display: none; z-index: 100; width: 100%; top: 55px; border: 1px solid #ddd;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, .10); border-radius: 0 0 4px 4px; }

    .ajax-sidebar.active{ display: block; }

    .ajax-form-wrapper .head{ padding: 0 15px; }

    .ajax-form-wrapper .item-content{ padding: 15px; }

}



/*AJAX LOADER*/

.loader-wrapper{ position: relative; }



.loader-big .ajax-loader{ width: 100px!important; height: 100px!important; }


.loader-big{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; }

.loader-big.active{ z-index: 100; }


.loader-wrapper{ min-height: 200px; }


.login-form .btn-loader,
.ajax-form-wrapper .btn-loader { position: absolute; top: 0; right: 0; bottom: 0; z-index: 10; left: 0; display: none; }

.ajax-form-wrapper .btn-loader.active,
.btn-loader.active { display: block; }

.btn-loader .btn-text{ display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 24px; }

.btn-loader .btn-text.active{ display: block; }

.btn-loader .ajax-loader{ position: absolute; width: 100%; height: 100%; display: none; width: 24px; height: 24px;
    top: 50%; left: 50%; transform: translate(-50%, -50%); }

.btn-loader.no-transform .ajax-loader{ transform: translate(0, 0); }

.btn-loader .ajax-loader.active{ display: inline-block; }

.btn-loader .ajax-loader > span{ display: block; }

.btn-loader .ajax-loader:after,
.btn-loader .ajax-loader:before,
.btn-loader .ajax-loader > span:after,
.btn-loader .ajax-loader > span:before{ content:''; box-sizing: border-box; display: block; position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; border: 3px solid #000; border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent; transform: translateY(-50%); }

.btn-loader .ajax-loader:after { animation-delay: -0.45s; }

.btn-loader .ajax-loader:before{ animation-delay: -0.3s;  }

.btn-loader .ajax-loader span:after{  animation-delay: -0.15s;  }

@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);  }
}


/*AJAX BAR*/

.ajax-bar{ position: absolute; top: 0; left: 0; right: 0; height: 2px; background: #3F4D66; display: none;
    transition: all .2s ease-in-out; }

.ajax-bar.active{ display: block; }


/*TAB FORM*/

.main-content-inner{ position: relative; max-width: 1000px; margin: 0 auto; background: #fff;  border: 1px solid #eee;
    border-radius: 4px; }

.room-sidebar{ width: 300px; position: absolute; top: 0; bottom: 0; left: 0; background: #F7F9F9; }

.room-sidebar li,
.room-sidebar{ margin: 0;; padding: 0; }

.room-sidebar li{ list-style: none; }

.room-sidebar li.head{ padding: 0px 30px; line-height: 60px; font-size: 1.2em; border-bottom: 1px solid #eee; }

.room-sidebar li > a{ padding: 15px 30px; display: block; position: relative; border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0); }

.room-sidebar li > a:after{ content: ''; position: absolute; right: -1px; top: 0; bottom: 0; width: 1px; background: #fff;  opacity: 0; }

.room-sidebar li > a.active{ background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }

.room-sidebar li:nth-child(2) a.active{ border-top: 1px solid rgba(0,0,0,0); }

.room-sidebar li > a.active:after{ opacity: 1; }



.room-form{ margin-left: 300px; border-left: 1px solid #eee; min-height: 350px; }

.room-form .item-content{ padding: 25px;  }

.room-form form textarea,
.room-form form select,
.room-form form input { height: 45px; line-height: 45px; border-radius: 4px; margin: 10px 0 20px;  }

.room-form form textarea{ height: 250px; line-height: 1.6; padding: 20px; }

.room-form form label{ color: #555; font-size: .9em;  }

.room-form .head{ overflow: hidden; padding: 0 30px; border-bottom: 1px solid #eee; background: #F7F9F9; }

.room-form .head .title{ line-height: 60px; float: left; }

.room-form .head .toggle-btn{ float: right; line-height: 32px; height: 32px; margin-top: 13px; }

.room-form .head .toggle-btn .switch.status{ margin: 0px; }



.tab-form{ display: none; position: relative; }

.tab-form.active{ display: block; }



/* IMAGE UPLOAD*/

.upload-img{ height: 45px; position: relative; border: 0!important; outline: 0!important; z-index: 1;  }

.upload-img::after{ content:'Upload'; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    text-align: center; border: 1px solid #ddd; background: #f1f1f7; z-index: 1; font-weight: 700; }

.upload-img:focus::after,
.upload-img:active::after,
.upload-img:hover::after{ background: #e9eef1; }

.upload-img::before{  content: ""; background: url(../../images/upload.png) no-repeat; background-size: cover;
    position: absolute; top: 50%; left: 50%; height: 20px; width: 20px; z-index: 2;
    text-align: center; margin: -10px 0 0 -55px; }




.drop-image{ position: relative; height: 250px; width: 250px; border: 1px dashed #aaa; border-radius: 3px;
    text-align: center; overflow: hidden; }

.drop-image input{ position: absolute; left: 0; top: 0; height: 100%!important; width: 100%!important; opacity: 0; }


.gallery-image-wrapper{ overflow: hidden; }

.gallery-image-wrapper .drop-image{ height: 143px; width: 143px; float: left;  margin-left: 15px;  }

.gallery-image-wrapper .room-image-wrapper{ float: left; }


.image-title-wrapper{ overflow: hidden; padding: 10px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee;
    background: #F7F9F9; padding: 10px 25px; position: relative; }

.image-title-wrapper .title{ height: 40px; line-height: 40px; float: left; }




.dplay-table{ display: table; height: 100%; width: 100%; }

.dplay-table-cell{ display: table-cell; vertical-align: middle; }


/*LOGIN FORM*/

.login-wrapper{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 15px; }



/*RESPONSIVE*/

@media only screen and (max-width: 1300px) {



}

@media only screen and (max-width: 992px) {


}

@media only screen and (max-width: 767px) {


}

@media only screen and (max-width: 576px) {

    .succss-msg{ margin-bottom: 15px; }

    .m-title{ padding: 15px; }

    .form-inner{ padding: 15px 15px 5px; }

    .c-btn{ height: 40px; line-height: 40px; padding: 0 20px; letter-spacing: 0px; }

    .lh-xs-40{ line-height: 40px; }

}



/*--------------------------
Panel style
--------------------------- */

.item-wrapper{ margin: -10px; overflow: auto; }

.item{ width: 25%; float: left; padding: 10px; box-shadow: none; }

.full .item{ width: 100%; margin: 0 auto; float: none; }
.one .item{ width: 100%; max-width: 650px; margin: 0 auto; float: none; }
.three .item{ width: 33.333%; }
.two .item{ width: 50%; }

.item .item-inner{ position: relative; border-radius: 5px; overflow: hidden; z-index: 1; }

.item .item-inner .all-status{ color: #fff; position: absolute; top: 0px; left: 0px; z-index: 100; padding: 10px; }

.item .item-inner .all-status span{ padding-left: 20px; position: relative; font-size: .8em;  }

.item .item-inner .all-status span:after{ content:''; position: absolute; top: 0px; left: 0; height: 14px; width: 14px;
     border-radius: 100px; box-shadow: 0px 0px 30px 0px rgba(0,0,0,.4); }

.item .item-inner .all-status span.active:after{ background: #0F9D58; }
.item .item-inner .all-status span.inactive:after{ background: #DD5145; }


.item .featured{ position: absolute; z-index: 2; font-size: .7em; padding: 5px 8px; letter-spacing: 0;
    border-radius: 3px 0px 0px 3px; top: 12.5px; right: 0; background: #00b797; color: #fff; }

.item .premium{ position: absolute; z-index: 2; font-size: .7em; padding: 5px 8px; letter-spacing: 0;
    border-radius: 0 3px 3px 0; top: 10px; left: 0; background: #ffff00; color: #000; }

.item .img-header{ position: absolute; top: 0; left: 0; right: 0; z-index: 1; color: #fff; padding: 0px 7px 30px; z-index: 1; }

.item .img-header:after{ content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;  opacity: .9;
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); }

.item .image-footer{ padding: 20px 20px 10px; color: #fff; position: absolute; bottom: 0; left: 0; right: 0; z-index: 1;  }

.item .image-footer:after{ content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;  opacity: .9;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); }

.item .footer-content b{ display: inline-block; margin-left: 4px;
    -webkit-transform: translateY(2px); transform: translateY(2px); }


.item .item-inner{ background: #fff; border: 1px solid #eee; }

.popup-area .item .item-inner{ max-height: 700px; overflow: auto; }

.item .item-content{ padding: 30px 35px; }



/*ITEM FOOTER*/

.item-header{ height: 70px; line-height: 70px; padding: 0px 35px; border-bottom: 1px solid #ddd; }


/*ITEM FOOTER*/

.item-footer{ overflow: hidden; border-top: 1px solid #eee; }

.item-footer a,
.item-footer .footer-link{ text-align: center; display: block; position: relative; position: relative; }

.item-footer a,
.item-footer .footer-link button{ width: 100%; line-height: 50px; height: 50px; }

.item-footer.one a,
.item-footer.one .footer-link{ width: 100%; }

.item-footer.two a,
.item-footer.two .footer-link{ width: 50%; float: left; border-right: 1px solid #eee; }

.item-footer.two a:last-child,
.item-footer.two .footer-link:last-child{ border-right: 0px solid #eee; }

.item-footer.three a,
.item-footer.three .footer-link{ width: 33.33%; float: left; border-right: 1px solid #eee; }

.item-footer.three a:last-child,
.item-footer.three .footer-link:last-child{ border-right: 0px solid #eee; }

.item-footer a i{ line-height: inherit; }


.item-footer .footer-link:focus,
.item-footer .footer-link:active,
.item-footer .footer-link:hover,
.item-footer a:focus,
.item-footer a:active,
.item-footer a:hover{ background: #eee; }

.item-footer i{ margin: 0 5px; color: #777; font-size: 1.2em; color: #111; }

.item-dahboard .item-footer i{ margin: 0px; font-size: .8em; }
.item-dahboard .item-footer i:first-child{ margin-left: 10px; }

.action-btn-inner i{ font-size: 1.4em; }

/*BUTTONS*/

.action-btn-wrapper a{ margin: 10px 2px; border-radius: 100px; border: 1px solid #fff; font-size: .8em; background: rgba(0,0,0,.2);
    height: 35px; width: 35px; line-height: 33px; text-align: center; }

.action-btn-wrapper a:focus,
.action-btn-wrapper a:active,
.action-btn-wrapper a:hover{ background: #fff; color: #333; }

.action-btn-inner{ float: right; }


/*RESPONSIVE*/

@media only screen and (max-width: 1300px) {

    .item{ width: 33.33%; }

}

@media only screen and (max-width: 992px) {

    .item{ width: 50%; }

}

@media only screen and (max-width: 767px) {


}

@media only screen and (max-width: 576px) {


    .item{ width: 100%; padding: 7.5px; }

}


/* MAIN DASHBOARD */


.item-dahboard .desc{ margin-top: 10px; color: #666; font-size: 1.1em; }

.item-dahboard .icon{ font-size: 5em; opacity: .1; position: absolute; top: 20px; right: 30px; z-index: 0;
    transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; }


/*RESPONSIVE*/


/*CATEGORY*/

.three .masonry-item{ width: 33.333%; }

.four .masonry-item{ width: 25%; }

.masonry-item .item{ float: none; width: 100%; }

.item.item-img .item-inner{ position: relative; z-index: 100; }

.item.item-img .item-inner .image-wrapper{ position: relative; z-index: 1; min-height: 100px; }

.item.item-img .item-inner:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;
    background: #000; opacity: .02; }


/*RESPONSIVE*/

@media only screen and (max-width: 1600px) {


}

@media only screen and (max-width: 1300px) {

    .three .item{ width: 50%; }
    .four .masonry-item{ width: 33.33%; }

}

@media only screen and (max-width: 992px) {

    .three .item{ width: 100%; }
    .four .masonry-item{ width: 50%; }

}

@media only screen and (max-width: 767px) {

    .three .item{ width: 100%; }
    .four .masonry-item{ width: 50%; }

}

@media only screen and (max-width: 576px) {

    .three .item,
    .four .masonry-item{ width: 100%; }

}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


/*TOGGLE CHECKBOX*/



.switch { float: right; position: relative; display: inline-block; width: 50px; height: 26px; margin-bottom: 0px!important; }

.switch input { opacity: 0!important;; width: 0!important; height: 0!important; outline: 0!important; border: 0!important;; }

.switch .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ddd;
    -webkit-transition: .15s; transition: .15s; }

.switch .slider:before { position: absolute; content: ""; height: 20px; width: 20px; left: 3px; bottom: 3px; background-color: white;
    -webkit-transition: .15s; transition: .15s; }

.switch input:checked + .slider { background-color: #3F4D66; }

.switch input:focus + .slider { box-shadow: 0 0 1px #3F4D66; }

.switch input:checked + .slider:before { -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px); transform: translateX(24px); }

.toggle-title{ color: #777; line-height: 32px; float: left; margin-right: 10px; }


/* Rounded sliders */

.switch .slider.round { border-radius: 100px; font-weight: 400!important; }

.switch .slider.round:before { border-radius: 50%; }






.item-header label{ margin-top: 20px; }


.switch.status .round{ font-size: .8em; line-height: 32px; text-align: right; padding: 0 14px; }
.switch.status .round .active{ display: none; color: #fff; text-align: left; padding-left: 7px; }
.switch.status .round .inactive{ display: block; color: #666; text-align: right; }

.switch.status input:checked + .slider:before { -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px); transform: translateX(68px); }

.switch.status input:checked ~ .round > .active{ display: block; }

.switch.status input:checked ~ .round > .inactive{ display: none; }


.switch.status .slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 3px; bottom: 3px;
    background-color: white; -webkit-transition: .15s; transition: .15s; }


.switch input,
.switch .round {
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}



/*STATUS*/

.switch.status { width: 100px; height: 32px; margin: 0px; }

.switch.on-off{ width: 76px; height: 30px; margin: 0px; }

.switch.on-off .slider:before{ height: 24px; width: 24px; }

.switch.on-off .round .active{ padding-left: 3px; }

.switch.status .round .inactive{ padding-right: 3px; }

.switch.on-off input:checked + .slider:before { -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px); transform: translateX(45px); }


/*RESPONSIVE*/

@media only screen and (max-width: 576px) {

    .switch.status { width: 80px; }

    .switch.status input:checked + .slider:before { -webkit-transform: translateX(48px);
        -ms-transform: translateX(48px); transform: translateX(48px); }

    .switch.status .round{ padding: 0 7px; }
}



/*MAP*/

#map{ height: 400px; width: 100%; margin-bottom: 20px; }

.pos-relative{ position: relative;  }

#mapMoveHere{  left: 0; right: 0; bottom: 20px; position: absolute; }

.pac-container.pac-logo{ left: 0!important; right: 0!important; top: 0!important; }


/* ERRORS*/

.errors{ margin-top: 15px; }
.errors > li{ display: block; margin: 7px 0px; font-size: .95em;  }
.errors > li:first-child{ color: red; margin-bottom: 5px; font-size: 1em; }


/*MESSAGE*/

.message{ margin-bottom: 20px; }

.main-ui .message{ margin: 15px 0; }


/*IMAGE UPLOAD*/

.image-upload{ width: 100%; height: 250px; border: 1px dashed #ddd; border-radius: 5px; margin-bottom: 20px; margin-top: 15px;
    position: relative; text-align: center; background: #f8f8f9; color: #666; overflow: hidden; }

.item-content .image-upload{ max-width: 250px; margin-bottom: 25px; }

.image-upload img{ width: auto!important; height: auto!important; object-fit: cover; max-width: 100%; max-height: 100%;
    border-radius: 0px; margin: 0 auto; }

.main-ui .image-upload{ height: 250px; }

.main-ui .image-upload img{ height: auto!important; width: 100%!important; border-radius: 0px; margin: 0 auto; }


.image-upload i{ font-size: 6em; color: #ccc; }

.image-upload input{ cursor: pointer; opacity: 0; height: 100%; width: 100%; z-index: 10; position: absolute; top: 0; left: 0; }

#uploaded-image.active{ display: block; opacity: 0; animation: full-opacity .1s forwards ease-out;
    -webkit-animation: full-opacity .1s forwards ease-out; }

@keyframes full-opacity {
    100% { opacity: 1;}
}

@-webkit-keyframes full-opacity {
    100% { opacity: 1;}
}


/* REQUIRED */

.has-error{ border: 1px dashed red!important; }
.err-msg{ float: none; position: relative; top: -15px; font-size: .75em; color: red; margin-bottom: 5px; }
textarea ~ .err-msg{ top: -20px; }

.youtube-link-wrapper.has-error{ border: 0px!important; }

.youtube-link-wrapper.has-error input{ border: 1px dashed red!important; }


.combined-attr-inner .err-msg{ top: 20px; left: -5px; }



/* TOP HEADER */

.top-header{ overflow: hidden; margin: 30px 10px 20px; }

.top-header .left{ float: left; line-height: 45px; }

.top-header .right{ float: right; }





/* PUSH NOTIFICATION */

.notification{ margin: 30px; height: 50px; position: relative; padding: 0!important; }

.notification form{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.notification label{ position: absolute; left: 0px; line-height: 50px; }

.notification .input-wrapper{ position: absolute; height: 50px; top: 0; left: 75px; right: 155px; }

.notification .input-wrapper textarea{ padding: 14px 15px 0; height: 100px; max-height: 50px; line-height: 1.5; resize: none; }

.notification button{ float: right; height: 100%; width: 140px; }


.send-notification{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0, .6); z-index: 10000; display: none; }

.send-notification.active{ display: block; }

.send-notification .item-wrapper{ width: 600px; margin: 10% auto; }

.send-notification .item-wrapper .item{ width: 100%; float: none; }


.notify-btn{ height: 40px; line-height: 38px; border: 1px solid #3F4D66; border-radius: 100px; padding: 0 20px!important;
    text-align: center; }

.notify-btn:hover{ background: #3F4D66; color: #fff; }


/*VIEW REVIEW*/

.review-popup ul,
.review-popup ul > li{ list-style: none; padding: 0; margin: 0; }

.review-popup ul > li{ margin: 10px 0; }

.review-popup ul > li >span{ width: 150px; }

.view-review-btn{ width: 140px; }




/*RESPONSIVE*/

@media only screen and (max-width: 767px) {

    .notification{ height: auto; }

    .notification form{ position: static; }

    .notification label{ position: static; line-height: normal; }

    .notification .input-wrapper{ position: static; height: auto; }

    .notification .input-wrapper textarea{ padding: 15px; height: 100px; max-height: 1000px;  }

    .notification button{ float: none; height: 45px; }

}

@media only screen and (max-width: 576px) {

    .notification button{ height: 40px; width: 120px; }

}


/* USER STATUS*/

.verified{ font-size: .9em; color: #0F9D58; }
.unverified{ font-size: .9em; color: #FD6A34; }


/* VIDEO*/

/* VIDEO TYPE RADIO*/

.video-radio{ position: relative; width: 90px; height: 90px; overflow: hidden; margin-right: 10px; }

.video-radio input[type='radio']{ position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }

.video-radio .checkmark { position: absolute; top: 0; left: 0; bottom: 0; right: 0; cursor: pointer; border-radius: 25px;
    font-size: .8em; text-align: center; border: 1px solid #bbb; color: #555;
    transition: all .2s; -webkit-transition: all .2s; }

.video-radio .checkmark i{ font-size: 2.6em; display: block; margin-bottom: 7px; }

.video-radio:hover input ~ .checkmark { border: 1px solid #2196F3; background-color: #eee; }

.video-radio input:checked ~ .checkmark { border: 1px solid #2196F3; background-color: #2196F3; color: #fff; }

.video-field{ display: none!important; }

.video-field.active{ display: block!important; }

.uploaded-video{ display: none; }

.uploaded-video.active{ display: block; }




/*PAGINATION*/

.pagination{ margin: 30px 0; }

.pagination a{ padding: 10px; color: #888; }

.pagination a.active{ color: #000; font-weight: 700; font-size: 1.05em; }

.pagination > li.disable{ opacity: .4; }
.pagination > li.current{ color: #3F4D66; font-weight: 700; padding: 10px; }

.pagination > li:first-child,
.pagination > li:last-child{ padding: 10px; }

.pagination > li > a{ padding: 10px; transition: none; }

.pagination > li:first-child  > a,
.pagination > li:last-child > a{ padding: 0px; }


.item .item-inner .all-status.video-status{ color: #333; position: static; padding: 0px 0 0 0; }

.item .item-inner .all-status.video-status span:after{ box-shadow: none; }


.video-header{ padding: 15px 25px; border-bottom: 1px solid #eee; }


/*LIVETV*/

.two-sided-80{ position: relative; min-height: 80px; }

.two-sided-80 .left{ position: absolute; left: 0; top: 0; height: 90px; width: 90px; border-radius: 3px; overflow: hidden; }

.two-sided-80 .right{ padding-left: 105px; }


/*inventory*/

.inventory{ display: none; }
.inventory.active{ display: block; }



/*attribute-value*/

.attribute-value{ overflow: hidden; }

.attribute-value-title{ float: left; }

.attribute-value-btn{ float: right; overflow: hidden; margin: 5px 0; }

.attribute-value-btn a{ font-size: .95em; }

.attribute-value-btn a:first-child{ float: left; }

.attribute-value-btn a:nth-child(2){ float: left; margin-left: 10px; color: red; }





/*PRELOADER*/

#preloader{  position: absolute; top: 0; left: 0; bottom: 0; background: rgba(0,0,0,0); z-index: 1000;
    min-height: 100vh;}

#preloader .writing{ text-align: center; margin-top: 35px; }

#preloader .progress {position: fixed; top: 50%; left: 45%; transform: translate(-50%, -50%); height: 100px; width: 100px;
    overflow: visible;
    -webkit-transform: translate(-50%, -50%); color: #fff; margin-left: 250px;  background: none; box-shadow: none;}

.progress .progress__item { text-align: center; width: 100px; height: 100px; line-height: 100px;
    border: 2px solid #aaa; border-radius: 50%; }

.progress .progress__item:before { content: ''; position: absolute; top: 0; left: 50%; margin-top: -3px;
    margin-left: 0px; width: 45px; height: 45px;
    border-top: solid 10px #aaa; border-right: solid 10px #aaa; border-top-right-radius: 100%;
    -webkit-transform-origin: left bottom; transform-origin: left bottom;
    -webkit-animation: spin 1.2s linear infinite; animation: spin 1.2s linear infinite; }

.progress.float .progress__item:before { border-top-width: 2px; margin-top: 0px; height: 50px; }

.progress.float.shadow:before { border-top-width: 2px; margin-top: -41px; height: 50px; }

.progress.shadow:before { content: ''; position: absolute; top: 50%; left: 50%; margin: -45px 0 0 10px; width: 45px;
    height: 45px; border-top: solid 10px rgba(0,0,0, .1); border-right: solid 10px rgba(0,0,0, .1);
    border-top-right-radius: 100%; z-index: -1;
    -webkit-transform-origin: left bottom; transform-origin: left bottom;
    -webkit-animation: spin 1.2s linear infinite; animation: spin 1.2s linear infinite; }

.progress.shadow:after { content: ''; position: absolute; top: 50%; left: 50%; width: 100px; height: 100px;
    color: rgba(0,0,0, .1); text-align: center; line-height: 100px; border: 2px solid rgba(0,0,0, .1); border-radius: 50%; margin: -40px 0 0 -40px;
    z-index: -1; -webkit-transform-origin: center; transform-origin: center; }

.progress.done .progress__item { opacity: 0;
    -webkit-animation: done 3.1s; animation: done 3.1s;
    -webkit-transition: opacity 0.3s linear 3.1s; transition: opacity 0.3s linear 3.1s; }

.progress.done .progress__item:before { display: none; }

.progress.done:before { display: none; }

.progress.done:after { opacity: 0; -webkit-animation: done 3.1s; animation: done 3.1s;
    -webkit-transition: opacity 0.15s linear 3.1s; transition: opacity 0.15s linear 3.1s; }


/*RESPONSIVE*/

@media only screen and (max-width: 767px) {

    #preloader .progress{ margin-left: 65px; }

}

@media only screen and (max-width: 576px) {

    #preloader .progress{ margin-left: 55px; }

}


@keyframes done {
    10% { transform: scale(1.1); }
    20% { transform: scale(0.9); }
    30% { transform: scale(1.07); }
    40% { transform: scale(0.93); }
    50% { transform: scale(1.04); }
    60% { transform: scale(0.97); }
    80% { transform: scale(1.01); }
    90% { transform: scale(0.99); }
    100% { transform: scale(1); }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes done {
    10% { -webkit-transform: scale(1.1); }
    20% { -webkit-transform: scale(0.9); }
    30% { -webkit-transform: scale(1.07); }
    40% { -webkit-transform: scale(0.93); }
    50% { -webkit-transform: scale(1.04); }
    60% { -webkit-transform: scale(0.97); }
    80% { -webkit-transform: scale(1.01); }
    90% { -webkit-transform: scale(0.99); }
    100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}



.dplay-none{ display: none!important; }



/* IMAGE UPLOAD*/


#multiple-images{ margin: 0 -10px 0px; overflow: hidden; }

#multiple-images .img-wrapper{ width: 33.33%; float: left; position: relative; padding: 7.5px; }

#multiple-images.full-width .img-wrapper{ width: 100%; float: none; }

#multiple-images .img-wrapper .removable-image,
#multiple-images .img-wrapper .remove-image{ position: absolute; height: 20px; width: 20px; font-size: 10px; top: 0px; right: 0px;
    background: #000; color: #fff; border-radius: 100px; line-height: 20px; text-align: center; }

#multiple-images .img-wrapper img{ margin: 0; padding: 0; width: 100%!important; height: auto!important; }






/*restaurant-menu*/


.hotel-room,
.restaurant-menu{position: relative; }

.hotel-room .image-upload,
.restaurant-menu .image-upload{ height: 200px; font-size: .8em; }

.item-form-wrapper .item{ float: none; margin: 0 auto; }

#hotel-room-form,
#restaurant-menu-form{ z-index: 1000; position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    display: none; background: rgba(0,0,0,.8); }

#hotel-room-form.active,
#restaurant-menu-form.active{ display: block; }

#added-item-wrapper .single-room-item,
#added-item-wrapper .single-menu-item{ position: relative; margin-bottom: 20px; }

#added-item-wrapper .single-room-item .img-wrapper,
#added-item-wrapper .single-menu-item .img-wrapper{ max-width: 100px; max-height: 100px; position: absolute; top: 0; left: 0; }

#added-item-wrapper .single-room-item .img-wrapper img{ width: 100%; height: auto; }

#added-item-wrapper .single-room-item .right-wrapper,
#added-item-wrapper .single-menu-item .right-wrapper{ min-height: 100px; padding-left: 115px; }

.price-input{ position: relative; margin: 10px 0 20px; }

.price-input .price-font{ position: absolute; top: 1px; left: 1px; width: 40px; line-height: 42px; background: #fff;
    border-right: 1px solid #eee; border-radius: 3px 0 0 3px; text-align: center; }

.price-input input{ margin: 0!important; padding-left: 55px; }

.price-input .err-msg{ top: 5px!important;  }



.menu-title,
.room-title{ margin-bottom: 5px; }


.item-delete-btn,
.update-btn{ text-decoration: underline; color: #3F4D66;  font-weight: 600; font-size: .95em; margin-right: 10px; padding: 10px 0; }


#attribute-value{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1000; display: none;
    background: rgba(0,0,0,.8); }

#attribute-value.active{ display: block; }


.attribute-value{ overflow: hidden; }

.attr-title-wrapper{ overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eee; }




/*POPUP AREA*/

.popup-area{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background: rgba(0,0,0,.65); display: none; }

.popup-area.active{ display: block; }


.cursor-pointer{ cursor: pointer; }



/*PRODUCT ATTRIBUTE*/


form .attribute-cb{ min-width: 80px; }

form .attribute-cb-wrapper{ margin: 20px 0; }

form .attribute-cb-wrapper label{ margin: 0px 0px 0px 5px; }

form .attribute-value-cb{ width: 70px; }


#combined-cb label{ margin-left: 15px; }

.combined-attr-inner{ overflow: hidden; }

.combined-attr-inner .qty{ width: 100px; float: right; }


/*order-table*/

.order-table{ width: 100%; min-width: 400px; }

.order-table tr th{ font-weight: 700; }

.order-table tr th,
.order-table tr td{ text-align: left; padding: 20px 0px 20px 25px; }

.order-table tr td{ padding: 10px 0px 10px 25px; }


.action-wrapper .action-btn{ height: 45px; width: 45px; border-radius: 100px; background: #fff; line-height: 45px; text-align: center;
    border: 1px solid #eee; }

.action-wrapper:hover .action-btn,
.action-wrapper .action-btn:hover{ background: #ddd; }

.action-wrapper{ position: relative; }

.action-wrapper .d-down{ display: none; position: absolute; top: 45px; left: -75px; z-index: 1;
    width: 120px; border-radius: 3px; background: #fff; box-shadow: 2px 5px 50px rgba(0,0,0, .06); }

.action-wrapper .d-down > li{ display: block; }

.action-wrapper .d-down > li > a{ display: block; width: 100%; padding: 12px 20px; border-bottom: 1px solid #eee; }

.action-wrapper .d-down > li > a:hover{ background: #F7F5F9; }

.action-wrapper .d-down > li:last-child > a{ border-bottom: 0; }

.action-wrapper:hover .d-down{ display: block; }






/*BANNER AREA*/

.banner-area .cat-1,
.banner-area .cat-2{ padding: 5px; }

.banner-area .single { width: 50%; float: left;  }
.banner-area .quad { width: 50%; float: left;  }

.banner-area .quad img{ width: 50%; float: left; }

.banner-area .quad img:nth-child(4){ clear: both; }

.banner-area .banner-wrapper{ overflow: hidden; }

.banner-cat-wrapper{ overflow: hidden; padding: 5px; }

.ui-footer a i{ transform: translateY(1px); -webkit-transform: translateY(1px); margin-right: 10px; color: #fff; }

.ui-footer a{ background: #3F4D66; color: #fff; }

.ui-footer a:hover{ background: #000; }



/*header-tab*/

.header-tab{ float: left; width: 33.33%; }

.header-tab:nth-child(2){ border-right: 1px solid #fff; border-left: 1px solid #fff; }

.progress-bar{ position: absolute; top: 0; left: 0; right: 0; width: 0%; height: 3px; background: #000; }

.item-content{ position: relative; }

.upload-progress{ position: absolute; bottom: 0; left: 0; right: 0; width: 0%; height: 2px; background: #3F4D66; }
#upload-progress{ position: absolute; top: 0; left: 0; right: 0; height: 3px; background: #3F4D66; }


.news-preview-wrapper img,
.news-preview-wrapper video{ width: 60%; }

#desc{ margin: 0; min-height: 300px; max-height: 1000px; }


/*ROOM IMAGE*/

form .room-image-wrapper{ margin: 0px; overflow: hidden; }

form .room-image-wrapper .room-image{ position: relative; height: 190px; width: 190px; float: left; margin: 10px;
    border: 1px dashed #aaa; border-radius: 3px; }

form .room-image-wrapper .property-image{ height: 190px; width: 100%; float: none; margin: 10px; }




form .room-image-wrapper .room-image a{ height: 100%; width: 100%; position: relative; overflow: hidden; }

form .room-image-wrapper img{ height: auto; width: 100%; object-fit: cover; margin: 0;
    position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }



/*UPLOAD MULTIPLE IMAGES*/

.magnific-grid.three{ margin: 10px -10px -10px; }

.magnific-grid.three .masonry-item{ width: 33.3333%; padding: 10px; transition: all .2s; }

.three .single-img{ position: relative;  line-height: 0; display: block; border-radius: 3px; background: #eee;
    border: 1px solid #ccc; text-align: center; }

.three .single-img .magnific-item{ line-height: 0;  }


/*DELETE BUTTON FOR MULTIPLE IMAGES*/

form .delete-btn{ height: 25px; width: 25px; position: absolute; right: -10px; top: -10px;
    text-align: center; line-height: 23px; font-size: .8em; z-index: 1000;
    background: #fff; border: 1px solid #999; background: #999; border-radius: 3px; color: #fff; }

form .delete-btn:hover{ background: #aaa; color: #fff; }

form .delete-btn i,
form .delete-btn i:before{ line-height: inherit; }


/*UPLOAD BUTTON FOR MULTIPLE IMAGES*/

.upload-images-btn{ position: relative; height: 40px; line-height: 40px;  display: inline-block; cursor: pointer;
    background-color: #3F4D66; border: 1px solid #3F4D66; color: #fff; padding: 0 35px; border-radius: 1000px;
    transition: all .2s; -webkit-transition: all .2s;  }

.upload-images-btn:hover{ background: #fff; color: #3F4D66; }

.upload-images-btn i{ margin-right: 15px; float: left; font-size: 1.3em; }

.upload-images-btn i:before{ line-height: 38px; }

.upload-images-btn .add-text{ line-height: inherit; height: inherit; }

.upload-images-btn input{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; cursor: pointer;
    z-index: 1; margin: 0; height: 100%; line-height: inherit; }




/*RESPONSIVE*/

@media only screen and (max-width: 767px) {

    .three .masonry-item{ width: 50%; padding: 10px; }

}

@media only screen and (max-width: 576px) {

    .three .masonry-item{ width: 50%; }

}


@media only screen and (max-width: 360px) {

    .three .masonry-item{ width: 100%; }

}



/*SLIDER IMAGE*/

.property-image-wrapper .property-image{ position: relative; height: 300px; margin: 20px; border-radius: 3px;
    border: 1px dashed #aaa; text-align: center; }

.property-image-wrapper .property-image a{ height: 100%; width: 100%; }

.property-image-wrapper .property-image a img{ height: 100%; width: auto; }

.delete-btn{ height: 25px; width: 25px; position: absolute; right: -10px; top: -10px;
    text-align: center; line-height: 23px; font-size: .8em;
    background: #fff; border: 1px solid #999; background: #999; border-radius: 3px; color: #fff; }



/*COMMENT*/

#comments-area{ max-height: 500px; padding: 20px 35px; }

.reply,
.comment{ position: relative; margin-bottom: 30px; }

.comment .reply-left,
.comment .comment-left{ position: absolute; top: 0; left: 0; width: 70px; max-width: 70px; }

.reply .reply-right,
.comment .comment-right{ margin-left: 80px; }

.reply .reply-right .name-wrapper,
.comment .comment-right .name-wrapper{ overflow: hidden; margin-bottom: 5px; }


.reply-wrapper{ margin: 30px 30px 15px 80px;}


.news-count{ border-top: 1px solid #eee; overflow: hidden; }

.news-count span{ width: 33.33%; float: left; text-align: center; padding: 15px 0; }

.news-count b{ display: inline-block; position: relative; top: -1px; }

.news-count i{ line-height: 1; margin-right: 10px; color: #aaa; }


/*TAB*/

.brdr-0{ border: 0; }

.brdr-top-0{ border-top: 0px; }

.tab{ text-align: center; padding: 17.5px 0; display: block; background: #ddd; }


.tab.active{ background: #fff; }

.tab-content{ display: none; }

.tab-content.active{ display: block; }


/*BOOKING STATUS*/

.status-wrapper{ position: relative; display: inline-block; padding-right: 35px; }

td select.order-status{ height: 40px; width: 130px; background: #fff; border-radius: 200px; margin: 0; }

.d-down-loader{ display: none; position: absolute; right: 0; top: 0; height: 18px; margin: 11px 0px; width: 18px;
    background: url("../../../images/wait.gif") no-repeat; background-size: cover; }

.d-down-loader.active{ display: block; }



/*sort-wrapper*/

.sort-wrapper{ margin-bottom: 20px; }

.sort-wrapper .page-count-text h6{ line-height: 40px; }

.sort-wrapper form{line-height: 40px; height: 40px; }

.sort-wrapper label,
.sort-wrapper select{ width: auto; margin: 0; line-height: 40px; height: 40px; margin-right: 5px; border-radius: 3px; float: left; }

.sort-wrapper label{ margin-right: 10px; }

.sort-wrapper button{ height: 40px; line-height: 40px; border: 1px solid #aaa; border-radius: 3px; padding: 0 10px; float: left; }

.sort-wrapper button:hover{ background: #3F4D66; border-color: #3F4D66; color: #fff; }


/* AJAX SPINNER */

#floatingBarsG{ position: relative; width: 26px; height: 35px; margin: 3px auto 0;  }

.blockG{
    position:absolute;
    background-color:rgb(255,255,255);
    width:4px;
    height:10px;
    border-radius:3px 3px 0 0;
    -o-border-radius:3px 3px 0 0;
    -ms-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    transform:scale(0.4);
    -o-transform:scale(0.4);
    -ms-transform:scale(0.4);
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    animation-name:fadeG;
    -o-animation-name:fadeG;
    -ms-animation-name:fadeG;
    -webkit-animation-name:fadeG;
    -moz-animation-name:fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:12px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

#rotateG_02{
    left:3px;
    top:4px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
}

#rotateG_03{
    left:11px;
    top:1px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
    transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
}

#rotateG_04{
    right:3px;
    top:4px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:12px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}

#rotateG_06{
    right:3px;
    bottom:3px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    transform:rotate(135deg);
    -o-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:11px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

#rotateG_08{
    left:3px;
    bottom:3px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
}



@keyframes fadeG{
    0%{ background-color:rgb(0,0,0);  }
    100%{  background-color:rgb(255,255,255);  }
}

@-o-keyframes fadeG{
    0%{  background-color:rgb(0,0,0);  }
    100%{  background-color:rgb(255,255,255);  }
}

@-ms-keyframes fadeG{
    0%{  background-color:rgb(0,0,0);  }
    100%{  background-color:rgb(255,255,255);  }
}

@-webkit-keyframes fadeG{
    0%{  background-color:rgb(0,0,0);  }
    100%{ background-color:rgb(255,255,255);  }
}

@-moz-keyframes fadeG{
    0%{ background-color:rgb(0,0,0); }
    100%{ background-color:rgb(255,255,255); }
}




/* MESSAGES */

.message-wrapper{ padding-bottom: 110px; }

.single-message{ overflow: hidden;  }

.single-message .profile img{ height: 50px; width: 50px; border-radius: 100%; overflow: hidden; margin: 5px; }

.single-message .user-message,
.single-message .admin-message{ padding-left: 140px; position: relative; min-height: 120px;
    margin-bottom: 20px; }

.single-message .admin-message{ padding-right: 140px; text-align: right; }


.single-message .user-message .profile,
.single-message .admin-message .profile{ position: absolute; right: 0; top: 0; bottom: 0; padding: 0 7px; word-break: break-all;
    width: 120px; text-align: center; background: #fff; }

.single-message .user-message .profile{ left: 0; right: auto; }


.single-message .admin-message .message,
.single-message .user-message .message{ float: left; background: #fff; padding: 10px; border-radius: 3px; }

.single-message .admin-message .message{ float: right; }








/*MESSAGE INPUT*/

.message-input{ position: fixed; bottom: 0; left: 250px; right: 0; height: 120px; }

.message-input textarea{ line-height: 1.3; padding: 15px 165px 15px 15px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.message-input button{ position: absolute; top: 0; bottom: 0; right: 0; padding: 0 45px; background: #3F4D66; color: #fff;
    font-weight: 700; width: 140px; font-size: 1.2em; }

.message-input button:hover{ background: #ddd; color: #3F4D66; }

.message-input button .btn-text{ line-height: 120px; }



/*AJAX MESSAGE*/

.ajax-message{ display: none; position: relative; }

.ajax-message.active{ display: block; }

.ajax-message:before{ font-family: 'Ionicons'; display: inline-block; margin-right: 10px; }

.ajax-message.error:before{ content:'\f100'; color: #D94B3E; }

.ajax-message.success:before{ content:'\f375'; color: #159F5C; }


.sort-desc{ transform: rotate(180deg); }


/*SEARCH DROPDOWN*/

.dropdown-search-input{ position: relative; margin-bottom: 20px; }

.dropdown-search-input .readonly-input{ min-height: 50px; width: 100%; border: 1px solid #eee; border-radius: 3px;
    cursor: text; margin-top: 10px; padding: 5px; }

.readonly-input .selected-item-wrap,
.readonly-input .selected-items{ position: relative; padding-right: 40px; }

.dropdown-search-input .readonly-input .down-btn{ position: absolute; top: 10px; right: 10px;
    font-size: .7em; color: #aaa; }

.dropdown-search-input .readonly-input span{ padding-right: 39px!important; background: #E2FFE9;  }

.dropdown-search-input .readonly-input .remove-item-btn{ height: 18px; width: 18px; font-size: 12px; line-height: 18px;
    text-align: center; border-radius: 100px; background: rgba(0,0,0, .1);
    position: absolute; top: 5px; right: 5px; z-index: 1; }

.dropdown-search-input .readonly-input .remove-item-btn:hover{ background: #bbb; border-color: #bbb; }

.dropdown-search-input .search-dropdown{ position: relative; display: none; }

.dropdown-search-input .search-dropdown.active{ display: block; }

.bottom-60x{ bottom: 60px; }


.dropdown-search-input .search-dropdown-inner{ z-index: 1000; background: #fff; position: absolute; left: 0; right: 0px;
    top: -1px; box-shadow: 0px 5px 10px rgba(0,0,0, .07); border-radius: 5px;  border: 1px solid #ddd  }

.dropdown-search-input .to-top .search-dropdown-inner{ top: auto; bottom: -10px;  box-shadow: 0px -5px 10px rgba(0,0,0, .07);  }

.search-dropdown .title{ position: relative; background: #F1f2f1; border-bottom: 1px solid #ddd; padding: 15px 30px; }

.search-dropdown .search-dropdown-body{ max-height: 200px; overflow: auto; padding: 30px 25px 25px; }


.search-dropdown .attached-button{ position: relative; height: 45px; line-height: 45px; }

.search-dropdown .attached-button.add-btn input{ margin: 0!important; padding: 0 85px 0px 15px; height: inherit!important;
    line-height: inherit!important; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.search-dropdown .attached-button button{ position: absolute; top: 0px; right: 0px; left: auto; bottom: 0px; line-height: inherit;
    padding: 0; width: 70px; border: 1px solid #D9F5E0; background: #D9F5E0; border-radius: 0 4px 4px 0px; }

.search-dropdown .attached-button input:active,
.search-dropdown .attached-button input:focus{ border: 1px solid #ccc!important; }

.search-dropdown .attached-button button:hover{ background: none;  }

.search-dropdown .db-items{ overflow: hidden; margin: 30px -5px 0; }

.to-top.search-dropdown .db-items{ margin-top: 20px; }

.dropdown-search-input .readonly-input span,
.search-dropdown .db-items .tag-item-wrapper{ height: 30px; line-height: 26px; padding: 0px 15px; border-radius: 100px;
    position: relative; float: left; }

.search-dropdown .db-items .tag-item-wrapper{ height: 35px; line-height: 31px; }

.dropdown-search-input .readonly-input span{ margin: 5px; padding: 0px 15px; border: 1px solid #D9F5E0;  }


.search-dropdown .db-items .tag-item-wrapper{ opacity: 0; margin: 0; padding: 0; border: none; max-width: 0px;
    overflow: hidden; position: relative; transition: all .2s ease-in; }

.search-dropdown .db-items .tag-item-wrapper.ok{ opacity: 1; margin: 7.5px; padding: 0px 0px;
    border: 1px solid #ddd; max-width: 1000px; }

.search-dropdown .db-items .tag-item-wrapper.selected,
.search-dropdown .db-items .tag-item-wrapper:hover{ border-color: #ddd; background: #D9F5E0; }

.search-dropdown .db-items .tag-item-wrapper.selected:hover{ opacity: .7; }

.search-dropdown .db-items .tag-item-wrapper a.main-tag{ width: 100%; height: 100%; padding: 0 20px; }

.search-dropdown .db-items .tag-item-wrapper.delete-enable a.main-tag{ padding-right: 45px; }



.search-dropdown .db-items .tag-item-wrapper a.delete-tag-btn{  height: 20px; width: 20px; font-size: 12px; line-height: 20px;
    text-align: center; border-radius: 100px; background: rgba(0, 0, 0, .1);
    position: absolute; top: 6px; right: 6px; z-index: 1; }

.search-dropdown .db-items .tag-item-wrapper.selected a.delete-tag-btn{  border: 1px solid rgba(0, 0, 0, .1); }



.readonly-input .selected-items{ overflow: hidden; }

.readonly-input + .err-msg{ top: 5px!important; }

.dropdown-search-input .close-search-dropdown{ position: absolute; top: 50%; right: 30px; transform: translateY(-50%);
    height: 30px; width: 30px; line-height: 28px; text-align: center; border-radius: 100px;
    border: 1px solid #bbb; }

.dropdown-search-input .close-search-dropdown:hover{ background: #bbb; }



/*AUDIO PLAYER*/

audio{ height:0px; width: 0px; }

.audio-upload-wrapper .admin-player{ margin-right: 90px; }

.admin-player{ position: relative; padding: 0 45px 0 60px; background: #e2ffe9; border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
    line-height: 60px; height: 60px; margin-bottom: 20px;  }

.play-pause-btn{ position: absolute; left: 10px; top: 50%; width: 40px; height: 40px; line-height: 38px; border-radius: 100px;
    transform: translateY(-50%); border: 1px solid #ccc;  }

.play-pause-btn:after{ display: inline-block; font-family: 'Ionicons'; font-size: 1.4em; }

.play-pause-btn.playing:after{ content: '\f478'; transform: translateX(0px); }
.play-pause-btn.paused:after{ content: '\f488'; transform: translateX(1.5px); }

.play-pause-btn:hover{ background: rgba(0,0,0, .1); }

.audio-progress-section{ float: left; height: 100%; width: 100%; position: relative;  }

.audio-progress-bar-wrapper{ position: absolute; top: 0; bottom: 0; left: 70px; right: 60px; }

.audio-progress-bar-wrapper:after{ content:''; background: #ddd;  }

.audio-progress-bar,
.audio-progress-bar-wrapper:after{ content:''; position: absolute; top: 50%; left: 0px; height: 4px;
    margin-top: -2px; width: 100%; }

.audio-progress-bar{ width: 0px; background: #000; z-index: 1;  }

.audio-progress-bar:after{ content: ''; position: absolute; right: 0px; top: 50%; margin-top: -6px; margin-right: -5px;
    height: 12px; width: 12px; background: #000; border-radius: 100px; opacity: 0; transition: all .2s; }

.audio-progress-bar-wrapper:hover .audio-progress-bar:after{ opacity: 1; }

.audio-current-time{ position: absolute; left: 10px; top: 50%; transform: translateY(-50%); }

.audio-duration{ position: absolute; right: 0; top: 50%; transform: translateY(-50%); }



.audio-sound-section{ width: 30px; height: 40px; line-height: 40px;
    position: absolute; top: 50%; right: 10px; transform: translateY(-50%); text-align: center; }

.audio-sound-section .audio-sound-btn i,
.audio-sound-section .audio-sound-btn{ line-height: inherit; position: absolute; top: 0; bottom: 0; left: 0; right: 0;   }


.audio-sound-section .sound-progress-section{ height: 120px; width: 35px; position: absolute; bottom: 30px; left: 50%;
    transform: translateX(-50%); background: #e2ffe9; border-radius: 2px; display: none;
    box-shadow: 0px -2px 5px rgba(0,0,0, .1); }

.audio-sound-section:hover .sound-progress-section{ display: block; }


.audio-sound-section .sound-progress-bar-wrapper{ position: absolute; bottom: 7.5px; top: 15px; left: 0; right: 0; }

.audio-sound-section .sound-progress-bar-wrapper:after{ content: ''; top: 0px; background: #ccc; }

.audio-sound-section .sound-progress-bar-wrapper:after,
.audio-sound-section .sound-progress-bar{ position: absolute; bottom: 0px; left: 50%; width: 4px; margin-left: -2px; }

.audio-sound-section .sound-progress-bar{ height: 0px; z-index: 1; background: #000; }

.sound-progress-bar:after{ content: ''; position: absolute; right: 50%; top: 0; margin-top: -5px; margin-right: -6px;
    height: 12px; width: 12px; background: #000; border-radius: 100px; opacity: 0; transition: all .2s; }

.sound-progress-bar-wrapper:hover .sound-progress-bar:after{ opacity: 1; }


/* UPLOAD BTN*/

.audio-upload-wrapper{ position: relative; line-height: 60px; height: 60px; margin: 15px 0 20px; }

.audio-upload-wrapper .audio-upload{ position: absolute; top: 0; bottom: 0; right: 0; width: 80px; line-height: inherit;
    background: #3F4D66; font-size: 1.4em; text-align: center; cursor: pointer; border-radius: 3px;  padding-top: 10px; }

.audio-upload-wrapper .audio-upload:before{ content: '\f3b6'; font-family: 'Ionicons'; color: #fff; line-height: 1;
    width: 100%; display: block; }

.audio-upload-wrapper .audio-upload:after{ content: 'Browse'; color: #fff; font-size: .6em; width: 100%; line-height: 1;
    display: block;}

.audio-upload-wrapper .audio-upload input{ opacity: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    cursor: pointer; }


/* YOUTUBE LINK */

.youtube-link-wrapper{ position: relative; height: 50px; width: 100%; line-height: 50px; margin: 15px 0 20px; }

.ajax-form-wrapper form .youtube-link-wrapper input{ position: absolute; top: 0; left: 0; height: 100%; line-height: inherit;
    margin: 0; width: calc(100% - 90px); border-radius: 3px; }


.ajax-form-wrapper form .youtube-link-wrapper a{ position: absolute; top: 0; right: 0; height: 100%; width: 80px; padding: 0;
    border-radius: 3px; text-align: center; }

.ajax-form-wrapper form .youtube-link-wrapper a:hover,
.ajax-form-wrapper form .youtube-link-wrapper a:focus,
.ajax-form-wrapper form .youtube-link-wrapper a:active{ background: none; color: #444; }

.or-text{ text-align: center; margin-bottom: 10px; line-height: 1; color: #999; }


/* AUDIO RADIO */

.radio-wrapper{ position: relative; padding-left: 40px; }

.radio-wrapper .custom-radio-style{ position: absolute; top: 15px; left: 0; height: 30px; width: 30px;
    line-height: 1; cursor: pointer;  display: block;  -webkit-user-select: none;  -moz-user-select: none;
    -ms-user-select: none;  user-select: none;}

.link-input .custom-radio-style{ top: 10px; }


.radio-wrapper .custom-radio-style input[type="radio"]{ margin: 0!important; height: 100%!important;
    width: 100%!important; line-height: 1!important; position: absolute; z-index: 1;  opacity: 0;  cursor: pointer;  }


.custom-radio-style .checkmark {  position: absolute;  top: 0;  left: 0;  height: 100%;  width: 100%;  background-color: #eee;
    border-radius: 50%; }

.custom-radio-style:hover input ~ .checkmark {  background-color: #ccc; }

.custom-radio-style input:checked ~ .checkmark { background-color: #3F4D66; }

.custom-radio-style .checkmark:after { content: ""; position: absolute; display: none; }

.custom-radio-style input:checked ~ .checkmark:after { display: block; }

.custom-radio-style .checkmark:after { top: 10px; left: 10px; width: 10px; height: 10px; border-radius: 50%; background: white; }


.radio-label{ margin-left: 40px; }



/*IMAGE DROPDOWN*/

.dropdown-items{ margin-top: 30px; height: 300px; overflow: auto!important; }

.selected-item,
.single-dropdown{ overflow: hidden  }


.no-selected{ padding: 0 10px; line-height: 36px; font-size: .95em; color: #aaa; display: none; }

.no-selected.active{ display: block; }

.no-selected i{ font-size: .8em; float: right;  }


a.single-dropdown{ display: block; width: 100%; margin: 0px 0!important; border: 0!important;
    border-radius: 0!important; height: 50px!important; }


.selected-item .dropdown-value-image{ height: 40px; width: 40px; float: left; object-fit: cover; }

a.single-dropdown .dropdown-value-image{ height: 50px; width: 50px; padding: 7.5px; object-fit: cover; float: left; }

.selected-item .dropdown-value-title{ float: left; line-height: 38px; margin-left: 10px; }

a.single-dropdown .dropdown-value-title{ line-height: 48px; margin-left: 10px; }



/* DATA SORT */

[data-sort] i{ font-size: .9em; margin-left: 5px; color: #bbb; }

[data-delete-link] tbody tr td:last-child{ padding-left: 0; }



/* MULTIPLE TRACK WRAPPER */

.track-title-wrapper{position: relative; margin-bottom: 10px; }

.track-title-wrapper .track-link-wrapper{ position: absolute; top: 50%; right: 0; transform: translateY(-50%); }

.track-title-wrapper .track-link-wrapper a{ padding: 7.5px; color: #aaa; }

.track-title-wrapper .track-link-wrapper a:hover{ color: #444; }


/* ALBUM UPLOAD */

.artist-upload,
.album-upload{ height: 50px; line-height: 50px; width: 100%; background: #3F4D66;
    border-radius: 4px; position: relative; text-align: center; color: #fff; }

.artist-upload:after,
.album-upload:after{ content: 'Browse'; line-height: inherit; display: inline-block; }

.artist-upload:before,
.album-upload:before{ content: '\f3b6'; font-family: 'Ionicons'; line-height: inherit; margin-right: 10px; display: inline-block; }

.artist-upload input,
.album-upload input{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0; cursor: pointer; }

.login-form{ position: relative; }



/* IMAGE CROPPER */

#cropper-popup{ position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0, .8); z-index: 10000000;
    display: none; }

#cropper-popup .delete-btn{ position: absolute; top: 30px; right: 30px; background: none; border: 1px solid #ddd; color: #eee;
    height: 35px; line-height: 33px; text-align: center; width: 35px; border-radius: 100px; }

#cropper-popup.active{ display: block; }

#cropper-popup #crop-img-wrapper{ background: #fff; padding: 10px 10px 0; border-radius: 4px; overflow: hidden;

    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#cropper-popup #crop-img-wrapper .btn-wrap{ text-align: right; }

#cropper-popup #crop-img-wrapper .btn-wrap a{ padding: 20px 25px; font-weight: 700; }


.cropper-canvas, .cropper-crop-box, .cropper-drag-box, .cropper-modal, .cropper-wrap-box{ z-index: 100000; }





/* LYRICS */

.lyrics-container{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10000000; background: rgba(0,0,0, .4);
    display: none; }

.lyrics-container.active{ display: block; }

.lyrics-container .lyrics-form{ background: #fff;  max-width: 800px; width: 100%;  position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); border-radius: 4px; opacity: 0;
   }

.lyrics-container .lyrics-form.active{ opacity: 1; }

.lyrics-container .lyrics-form .lyrics-body{ margin: 20px 25px; }

.lyrics-container .lyrics-form h4{ padding: 15px 25px; border-bottom: 1px solid #eee; }

.lyrics-container .lyrics-form .lyrics-footer{ overflow: hidden; padding: 0px 25px 20px;  text-align: right; }


.trumbowyg-editor{ min-height: 200px; max-height: 400px!important; padding: 0 20px; }



/*RESPONSIVE*/

@media only screen and (max-width: 767px) {

    .trumbowyg-editor{ min-height: 200px; max-height: 200px!important; padding: 0 20px; }

}



/* TRACK IMAGE */

.track-image-container{ position: relative;  }

.track-image-container .track-image{ width: 170px;  }


.track-image-container .track-image .image-upload{ height: 170px; }


.track-image-container .track-detail{ position: absolute; top: 20px; left: 200px; right: 0;  }


/*SEARCH TRACK FOR PLAYLIST*/

.search-track-wrapper{ position: relative; }

#search-tracks-wrapper{ display: none; position: absolute; top: 55px; left: 0; right: 0; background: #fff; z-index: 1000;
    box-shadow: 0px 10px 30px rgba(0,0,0, .1); padding: 20px 20px 5px; border-radius:  0 0 5px 5px; min-height: 200px;
    max-height: 400px; overflow: auto; }

#search-tracks-wrapper .single-track{ margin-bottom: 15px;  }

#search-tracks-wrapper.active{ display: block; }

#searched-tracks .single-track{ position: relative; padding-right: 200px; }

#searched-tracks .single-track .right-area{ position: absolute; top: 3px; right: 0;
    font-size: .9em; padding: 3px 10px; border-radius: 100px; border: 1px solid #ddd; background: #eee; }


.remove-from-pl-link{ font-size: .85em; color: #111!important; }




